nav {
  display: flex;
  justify-content: space-around;
  background-color: rgb(14, 25, 117);
  align-items: center;
  color: white;
}
nav > img {
  object-fit: contain;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 20px;
}
nav > ul {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 30%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link {
  color: #fff;
  text-decoration: none;
  font-weight: bolder;
}

.link:hover {
  color: rgb(211, 255, 16);
}
