.inputOption {
  display: flex;
  align-items: center;
  margin-top: 5px;
  color: gray;
  padding: 10px;
  cursor: pointer;
  margin-bottom: -20px;
}
.inputOption:hover {
  background-color: whitesmoke;
  border-radius: 10px;
}
.inputOption > h5 {
  margin-left: 5px;
}
